[
	{amaze_core,
		[
			{ets_dir,"ets_configs"},
			{az_ets_server,
				[
					{ets_test1,[set,{keypos,2}],{config,"ets_test1.config"}},   %%{ets的名,option,from}
					{ets_test2,[named_table,set,{keypos,2}],{config,"ets_test2.config"}}
				]}
		]},

	{amaze_client,
		[
			{abc,1}
		]
	},

	{az_gateway,
		[
			{transport, [
				http_multi_transport,
				http_transport,
				tcp_transport,
				websocket_transport
				]},
			{http_multi_transport,[
				{multi_listener1,clear,    %% {listener_name,clear,TransportOpts}
					[{port,80}],
					az_mqtt %%pack_frame
				},
				{multi_listener2,tls,     %% {listener_name,tls,TransportOpts}
					[{port,843},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}],
					az_mqtt %%pack_frame
				}
			]},
			{http_transport,[
				{http_listener1,start_clear,    %% start
					[{port,81}],
					az_none %%pack_frame
				},
				{http_listener2,start_tls,     %% tls
					[{port,844},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}],
					az_none %%pack_frame
				}
				]},
			{tcp_transport,[
				{tcp_listener1,clear,
					[{port, 82},{max_connections,1000}],
					az_mqtt %%pack_frame
				},
				{tcp_listeners2,tls,
					[{port, 8082},{max_connections,1000},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}],
					az_mqtt %%pack_frame
				}
			]},
			{websocket_transport,[
				{websocket_listener1,clear,
					[{port, 83}],
					az_none %%pack_frame
				},
				{websocket_listener2,tls,
					[{port, 8083},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}],
					az_none %%pack_frame
				}
			]}
		]}
].
