[
	{amaze_core,
		[
			{ets_dir,"ets_configs"},
			{az_ets_server,
				[
					{ets_test1,[set,{keypos,2}],{config,"ets_test1.config"}},   %%{ets的名,option,from}
					{ets_test2,[named_table,set,{keypos,2}],{config,"ets_test2.config"}}
				]}
		]},

	{amaze_client,
		[
			{abc,1}
		]
	},

	{az_gateway,
		[
			{transport, [
				http_multi_transport,
				http_transport,
				tcp_pack4_transport,
				tcp_pack2_transport,
				tcp_mqtt_transport,
				websocket_transport
				]},
			{pack_frame,az_mqtt},       %% az_mqtt | az_pack4 | az_pack2 | az_none



			{http_multi_transport,[
				{multi_listener,start_clear,    %% {listener_name,start_clear,TransportOpts}
					[{port,80}]
				},
				{multi_listeners,start_tls,     %% {listener_name,start_tls,TransportOpts}
					[{port,843},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}]
				}
			]},
			{http_transport,[
				{http_listener,start_clear,    %% start
					[{port,81}]
				},
				{http_listeners,start_tls,     %% tls
					[{port,844},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}]
				}
				]},
			{tcp_pack4_transport,[
				{port, [82, 8082]}
			]},
			{tcp_pack2_transport, [
				{port, [83,8083]}
			]},
			{tcp_mqtt_transport, [
				{port, [84,8084]}
			]},
			{websocket_transport, [
				{port, [85,8085]}
			]}
		]}
].
